.navbar{
    background-color: honeydew;
    height: 250px;
    padding-left: 15px;
}

.navbar ul{
    list-style: none;
    display: flex;
}
.ul1{
   justify-content: center;
}
.ul1 button{
    border: none;
    background-color: inherit;
    cursor: pointer;
    margin-inline-end: 75px;
    font-size: 20px;
}

.ul2{
    justify-content: end;
    margin-top: -125px;
 }
 .ul2 button{
     border: none;
     font-weight: bold;
     background-color: inherit;
     cursor: pointer;
     margin-right: 100px;
     font-size: 20px;
     color: #6c14ac;
 }